<!-- <h1> My age is {{age}}</h1>
<h1> My name is {{name}}</h1>
<h1> is Indian {{odd}}</h1>
<h1>ages:{{ages}}</h1>
<h1 *ngFor="let age of ages">{{age}}</h1> -->
<!-- <ol>
    <li *ngFor="let state of states">{{state}}</li>
</ol>

<select>
    <option *ngFor="let area of areas">{{area}}</option>
</select>
<ul>
    <li *ngFor="let city of cities">{{city}}</li>
</ul>
<h1 *ngFor="let product of products">{{product.name}} :{{product.price}}</h1> -->
<!-- <table border="1">
    <thead>
        <tr>
            <th>name</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
        </tr>
    </tbody>
</table><br>
<hr><br>

<table border="1">
    <thead>
        <tr>
            <th>name</th>
            <th>experience</th>
            <th>package</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.exp}}</td>
            <td>{{employee.package}}</td>
        </tr>

    </tbody>

</table><br>
<hr><br>
<button (click)="submit()">submit</button><br>
<hr><br>

<input (keypress)="store()"> -->
<input type="text"[(ngModel)]="phone">
<h1>{{phone}}</h1>