<div class="parent">
    <div class="left">
        <h4>My website</h4>
        <hr>
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="about">About</h4>
        <h4 routerLink="dataBinding">Data-Binding</h4>
        <h4 routerLink="calculator">calculator</h4>
        <h4 routerLink="rectangle">rectangle</h4>
        <h4 routerLink="circle">circle</h4>
        <h4 routerLink="bmi">bmi</h4>
        <h4 routerLink="products">products</h4>
        <h4 routerLink="vehicles">vehicles</h4>
        <h4 routerLink="cars">cars</h4>
        <h4 routerLink="bikes">bikes</h4>
        <h4 routerLink="createbike">create bikes</h4>
        <h4 routerLink="accounts">accounts</h4>
        <h4 routerLink="createaccount">create-accounts</h4>
        <h4 routerLink="mynthra">mynthra</h4>
        <h4 routerLink="refresh">refresh</h4>
        <h4 routerLink="flipkart">flipkart</h4>
        <h4 routerLink="login">login</h4>

        <button (click)="logout( )">Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
