<div class="abc">
<h1>Cars</h1> <br> <br>

<label for="" > Honda</label>
<input type="radio"  name="Cars" (click)="honda()">
<label for="">BMW</label>
<input type="radio"  name="Cars"(click)="bmw()" >
<label for="">Audi</label>
<input type="radio"   name="Cars" (click)="audi()">
<p *ngIf="isHonda"><img src="/assets/honda.jpeg" alt="" height="300px" width="300px"></p>
<p *ngIf="isBMW"><img src="/assets/bmw.jpeg" alt="" height="300px" width="300px"></p>
<p *ngIf="isAudi"><img src="/assets/audi.jpeg" alt="" height="300px" width="300px"></p>

</div>


